@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin: 0;
}

.home {
	background-color: rgba(231, 76, 60, 1);
	height: 550px;
}

.main-text{
	position: relative;

	float: left;
	top: 27%;
	.headline {
		width: 400px;
		p {
			color: white;
			font-weight: bold;
			font-size: 44px;
			font-family: 'Roboto', sans-serif;
			margin: 0px 0px 35px 0px;
		}
	}
	.headline-info-temp {
		width: 300px;
		p {
		color: white;
		// font-weight: regular;
		font-size: 12px;
		font-family: 'Roboto-regular', sans-serif;
		// font-weight: 400;
		}
	}
}

.logo-container {
	position: relative;
	top: 7%;
	float: left;
	margin: 0 0 0 4%;
	.logo {
		height: 60px;
	}
}

.social-container {
	position: relative;
	top: 7%;
	float: right;
	margin: 0 8% 0 0;
	height: 50px;
	.social-icons {
		margin: 0 0 0 30px;
		height: 50%;
	}
	.share-icon {
		height: 100%;
	}
}


.iphone-container {
	// height: 83%;
	position: relative;
	float: right;
	margin: 0 20% 0 0;
	top: 12%;
	width: 275px;
	.iphone {
		// height: 500px;
	}
}

.email-input::-webkit-input-placeholder {
  color: white;
	font-size: 16px;
	font-family: 'Roboto-Regular', sans-serif;
}

.email-input {
	background-color: rgba(210, 114, 101, 1);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 30px;
	border: none;
	font-size: 16px;
	color: white;
}

.white-button {
	background-color: white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: rgba(210, 114, 101, 1);
	font-family: 'Roboto-Medium', sans-serif;
	font-size: 16px;
	padding: 10px 50px;
	text-decoration: none;
}

.learn-demo-container {
	margin-top: 60px;
	.learn-button {
		padding: 10px 40px;
	}
	.demo-button {
		background-color: rgba(231, 76, 60, 1);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: 3px solid white;
		display: inline-block;
		cursor: pointer;
		color: white;
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 16px;
		padding: 7px 56px;
		text-decoration: none;
		margin-left: 35px;
	}
}

// mobile format
@media (max-device-width: 780px) {
	body {
		background-color: blue;
	}
	.logo-container {
		position: relative;
		top: 3%;
		float: left;
		margin: 0 0 0 2%;
		.logo {
			height: 70px;
		}
	}
	.social-container {
		position: relative;
		top: 3%;
		float: right;
		margin: -1% 3% 0 0;
		height: 70px;
		.social-icons {
			margin: 0 0 0 30px;
			height: 50%;
			visibility: hidden;
		}
		.share-icon {
			height: 100%;
			visibility: visible;
		}
	}
	.home {
		height: 1100px;
	}	
	.main-text{
		position: relative;
		left: -10%;
		top: 10%;
		.headline {
			width: 580px;
			p {
				color: white;
				font-weight: bold;
				font-size: 70px;
				font-family: 'Roboto', sans-serif;
				margin: 0px 0px 20px 0px;
			}
		}
		.headline-info-temp {
			width: 575px;
			p {
			color: white;
			// font-weight: regular;
			font-size: 25px;
			font-family: 'Roboto-regular', sans-serif;
			// font-weight: 400;
			}
		}
	}
	.iphone-container {
		// height: 83%;
		position: relative;
		float: right;
		margin: 0 18% 0 0;
		top: 15%;
		width: 62%;
		.iphone {
			// height: 500px;
		}
	}
	.email-input::-webkit-input-placeholder {
	  color: white;
		font-size: 35px;
		font-family: 'Roboto-Regular', sans-serif;
	}

	.email-input {
		background-color: rgba(210, 114, 101, 1);
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		padding: 10px 30px;
		border: none;
		font-size: 35px;
		color: white;
	}

	.white-button {
		background-color: white;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		border: none;
		display: inline-block;
		cursor: pointer;
		color: rgba(210, 114, 101, 1);
		font-family: 'Roboto-Medium', sans-serif;
		font-size: 35px;
		padding: 10px 50px;
		text-decoration: none;
	}

	.learn-demo-container {
		margin-top: 60px;
		.learn-button {
			padding: 10px 40px;
		}
		.demo-button {
			background-color: rgba(231, 76, 60, 1);
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			border: 3px solid white;
			display: inline-block;
			cursor: pointer;
			color: white;
			font-family: 'Roboto-Medium', sans-serif;
			font-size: 35px;
			padding: 7px 56px;
			text-decoration: none;
			margin-left: 35px;
		}
	}
}
// bootstrap mods
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}