@import "bootstrap-sprockets";
@import "bootstrap";

body {
	margin: 0;
}

.home {
	background-color: rgba(231, 76, 60, 1);
	height: 500px;
}

.main-text{
	position: relative;

	float: left;
	top: 27%;
	.headline {
		width: 400px;
		p {
			color: white;
			font-weight: bold;
			font-size: 44px;
			font-family: 'Roboto', sans-serif;
			margin: 0px 0px 35px 0px;
		}
	}
	.headline-info-temp {
		width: 300px;
		p {
		color: white;
		// font-weight: regular;
		font-size: 12px;
		font-family: 'Roboto-regular', sans-serif;
		// font-weight: 400;
		}
	}
}

.logo-container {
	position: relative;
	top: 7%;
	float: left;
	margin: 0 0 0 4%;
	.logo {
		height: 60px;
	}
}

.iphone-container {
	// height: 83%;
	position: relative;
	float: right;
	margin: 0 20% 0 0;
	top: 18%;
	.iphone {
		height: 500px;
	}
}

.email-input::-webkit-input-placeholder {
  color: white;
	font-size: 16px;
	font-family: 'Roboto-Regular', sans-serif;
}

.email-input {
	background-color: rgba(210, 114, 101, 1);
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 10px 30px;
	border: none;
	font-size: 16px;
}

.email-submit {
	background-color: white;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: none;
	display: inline-block;
	cursor: pointer;
	color: rgba(210, 114, 101, 1);
	font-family: 'Roboto-Regular', sans-serif;
	font-size: 16px;
	padding: 10px 50px;
	text-decoration: none;
}

